extends ../layouts/mainLayout
include ../mixins/prevNextFooterDivider

//- Could add a wrapper div (or main) around the content if needed
block content
  if post.frontmatter.coverPhoto
    img(src=post.frontmatter.coverPhoto, alt=post.frontmatter.title)
  h1= post.frontmatter.title
  p= post.frontmatter.description
  | !{post.html}
  br
  +prevNextFooterDivider(prevLink, nextLink)