extends ../layouts/mainLayout
include ../mixins/prevNext

//- Could add a wrapper div around the content if needed
block content
  if post.frontmatter.coverPhoto
    img(src=post.frontmatter.coverPhoto, alt=post.frontmatter.title)
  h1= post.frontmatter.title
  p= post.frontmatter.description
  | !{post.html}
  br
  +prevNext(prevLink, nextLink)